.navbar {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #0b0c10;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.nav-link {
  margin: 0 15px;
  color: #c5c6c7;
  text-decoration: none;
}

.nav-link:hover {
  color: #66fcf1;
}
